@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Unauthorized Access";
}
<h1 class="text-danger">Unauthorized Access</h1>
<h2 class="text-danger">You don’t have permission to view this page.</h2>



