@using System.IO;
@using System.Drawing;
@using Image = System.Drawing.Image;
@model ReadyToWin.Complaince.Entities.UserTransaction.UserAmountDeposit

@{
    ViewBag.Title = "Preview of Screen Shot";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="container">
    <h3> <B> RECENT Amount Deposited ACTIVITY </B></h3>
    <div class="table-responsive">
        <img id="img_tool" src="data:image/@Model.FileExt;base64,@Convert.ToBase64String(Model.PaymentScreenshot)" alt="@Model.CreatedBy" height="100%" width="100%" />
    </div>
</div>